In [18]:
import pandas as pd
import numpy as np
import os
import random
import seaborn as sns
import importlib
import yaml
from dotenv import load_dotenv
import sys

load_dotenv()
FINANCIAL_SCRIPT_DIR = os.getenv('FINANCIAL_SCRIPT_DIR')
sys.path.append(FINANCIAL_SCRIPT_DIR)

# parent_dir = os.path.abspath(r'C:\Users\halewijnvanden\OneDrive\Documenten\financials\remake_buxfer')

import financial_functions
importlib.reload(financial_functions)

# print(FINANCIAL_SCRIPT_DIR)
# print(os.listdir(FINANCIAL_SCRIPT_DIR))

## deposit from csv to excel using some python magic in between

In [3]:
raw_csv_files_path = r'C:\Users\halewijnvanden\OneDrive\Documenten\financials\remake_buxfer\deposit_folder\raw_csv_files'
filename = 'deposit_09_2025.csv'
filepath = raw_csv_files_path + '/' + filename
deposit_df = financial_functions.get_deposit_df(filepath)
formatted_deposit_df = financial_functions.format_deposit_df(deposit_df)

In [5]:
import financial_functions
importlib.reload(financial_functions)
output_path = r'C:\Users\halewijnvanden\OneDrive\Documenten\financials\remake_buxfer\deposit_folder\excel_files'
df = financial_functions.open_formatted_montly_deposit_in_excel(raw_csv_files_path, filename, output_path, open_excel=False)
df

,date,card,description,amount,tag
0,2025-09-30,belfius_deposit,jumbo boodschappen,-7.28,food/groceries
1,2025-09-30,belfius_deposit,Applied Sciences student restaurant,-4.75,food/student_restaurants
2,2025-09-29,belfius_deposit,"AP LA COUPOLE CENTRE D'HI HELFAUT FR 11,50 EUR...",-11.50,NaN
3,2025-09-29,belfius_deposit,lidl boodschappen,-102.14,food/groceries
4,2025-09-29,belfius_deposit,"MC AGM DISTRIB SAINT- MARTIN- FR 137,94 EUR - ...",-137.94,NaN
...,...,...,...,...,...
63,2025-09-02,belfius_deposit,"MC Goedert Frisange Frisange LU 82,66 EUR - Va...",-82.66,NaN
64,2025-09-02,belfius_deposit,Vanwege. Meme en Pepe,25.00,NaN
65,2025-09-02,belfius_deposit,Lauranne Wagrain,-5.00,NaN
66,2025-09-01,belfius_deposit,"MC Hans Woedl Huette Aich AT 293,70 EUR - Van ...",-293.70,NaN
67,2025-09-01,belfius_deposit,lidl boodschappen,-14.71,food/groceries

## overview

In [ ]:
# os.listdir('../edited_overview/')
all_sheets = pd.read_excel('../edited_overview/finances_2025.xlsx', sheet_name=None)
df = pd.concat(all_sheets.values(), ignore_index=True)
df['month_number']=df['Date'].dt.month

# df['Date'].dt.month
pyg.walk(df, dark = 'light')

Box(children=(HTML(value='\n<div id="ifr-pyg-00064288db2377f00SKfsbdc3L5VFhae" style="height: auto">\n    <hea…

## mastercard from csv to excel using some python magic in between

### Read the mastercard pd

In [3]:
reload_libraries()
variables.raw_mastercard_pdf_path

done

'C:\\Users\\User\\OneDrive\\Documenten\\financials\\remake_buxfer/mastercard_folder/raw_pdf_files'

In [4]:
df = open_formatted_montly_deposit_in_excel('deposit_06_2024.csv', open_excel=False)
mastercard_row = df[df['description'].str.contains('MASTERCARD AFREKENING')]
row_indices = list(mastercard_row.index)
if len(row_indices) > 1: 
    print('warning: more than two mastercards in this month')
else: 
    row_index = row_indices[0] #take the first element
    deposit_amount = df.iloc[row_index].amount
    mastercard_amount = mastercard_df['amount'].sum()
    if deposit_amount == -mastercard_amount:
        print('there was a match, dataframes could be merged')
        df.drop(row_index, inplace=True)
        df.reset_index(drop=True, inplace=True)
        combined_df = pd.concat([df.iloc[:row_index], mastercard_df, df.iloc[row_index:]]).reset_index(drop=True)
    else: 
        print('warning: no match found, dataframes could not be merged')
        # # Drop the row with "mastercard afrekening"

C:\Users\User\AppData\Local\Temp\ipykernel_22436\3509780481.py:65: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  formatted_deposit_df['card'] = ['belfius_deposit']*formatted_deposit_df.shape[0]

been here
Index(['date', 'card', 'description', 'amount', 'tag'], dtype='object')

NameError: name 'mastercard_df' is not defined

In [5]:
reload_libraries()
def format_mastercard_df(df, date): 
    df = df.copy()
    df['date'] = [date]*df.shape[0]
    df['date'] = pd.to_datetime(df['date'], format = '%d/%m/%Y')
    df = df[['date','description', 'amount']]
    df['card'] = ['belfius_mastercard']*df.shape[0]
    df['amount'] =  df['amount'].str.replace(',', '.')
    df['amount'] = df['amount'].astype('float')
    df['amount'] = df['amount']*(-1)
    df['tag'] = [np.NaN]*df.shape[0]
    df = df[['date', 'card', 'description', 'amount', 'tag']]
    #df['date'] = pd.to_datetime(df['date'], format = '%d/%m/%Y')
    return df

def get_date(splitted_array): 
    string = [element for element in splitted_array if 'Afsluitingsdatum' in element][0]
    # Use regular expression to extract the date from the string
    date_match = re.search(r'\d{2}/\d{2}/\d{4}', string)
    date = date_match.group()
    return date

def get_mastercard_df(filename): 
    pdf_file_path = variables.raw_mastercard_pdf_path + '/' + filename
    #stores the text of the pages
    text_array = []
    # Open the PDF file in binary mode
    with open(pdf_file_path, 'rb') as pdf_file:
        # Create a PDF reader object
        pdf_reader = PyPDF2.PdfReader(pdf_file_path)
        num_pages = len(pdf_reader.pages)
        # Extract text from each page
        for page_num in range(num_pages):
            # Get a specific page
            page = pdf_reader.pages[page_num]
            # Extract text from the page
            page_text = page.extract_text()
            text_array += [page_text]
    splitted_array = []
    for ii in range(len(text_array)):
        splitted_array += text_array[ii].split('\n')
    
    # Regex pattern to match expressions with dates and "EUR"
    pattern = r'\b\d{2}/\d{2}\b.*?EUR\b'
    # Select expressions that match the pattern
    selected_expressions = [expr for expr in splitted_array if re.search(pattern, expr)]
    # Regex pattern to extract date, description, and amount
    pattern = r'(\d{2}/\d{2}) (\d{2}/\d{2}) (.+?) (\d+,\d+) EUR'
    # Extracting data using regex
    extracted_data = [re.match(pattern, entry).groups() for entry in selected_expressions]
    # Creating DataFrame
    mastercard_df = pd.DataFrame(extracted_data, columns=['Transactiedatum', 'date', 'description', 'amount'])
    date = get_date(splitted_array)
    # Print the DataFrame
    mastercard_df = format_mastercard_df(mastercard_df, date)
    
    return mastercard_df


def open_mastercard_in_excel(filepath):
    mastercard_df = get_mastercard_df(filepath)
    mastercard_df.to_excel(variables.mastercard_excel_path + '/' + filepath[:-3] + '.xlsx', index = False)
    open_mastercard_df(variables.mastercard_excel_path + '/' + filepath[:-3]  + '.xlsx')


# def open_formatted_montly_deposit_in_excel(filename, open_excel = True): 
#     deposit_df = get_deposit_df(filename)
#     formatted_deposit_df = format_deposit_df(deposit_df)
#     ruled_formatted_deposit_df = formatted_deposit_df.apply(update_row, axis = 1)
#     output_filepath = variables.deposit_excel_path + '/' + filename[:-4] + '.xlsx'
#     if open_excel == True:
#         df_to_excel(ruled_formatted_deposit_df, filename, output_filepath)
#         open_deposit_df(output_filepath)
#     return formatted_deposit_df

done

In [6]:
pdf_filename = 'mastercard_25_07_2024'
mastercard_df = get_mastercard_df(pdf_filename  + '.pdf')
mastercard_df.to_excel(variables.mastercard_excel_path + '/' + pdf_filename + '.xlsx', index = False)
mastercard_df
open_mastercard_df(variables.mastercard_excel_path + '/' + pdf_filename + '.xlsx')

In [11]:
open_mastercard_in_excel('mastercard_25_03_2024.pdf')

In [7]:
get_mastercard_df('mastercard_25_03_2024.pdf')

,date,card,description,amount,tag
0,2024-03-25,belfius_mastercard,"BUXFER.COM SANTA CLARA US 4,99 USD",-4.69,NaN
1,2024-03-25,belfius_mastercard,AIRCOACH EUR DUBLIN IE,-40.00,NaN
2,2024-03-25,belfius_mastercard,AIRCOACH EUR DUBLIN IE,-40.00,NaN
3,2024-03-25,belfius_mastercard,MEDIAFIN NV BRUXELLES BE,-19.75,NaN
4,2024-03-25,belfius_mastercard,AIRCOACH EUR DUBLIN IE,-20.00,NaN
5,2024-03-25,belfius_mastercard,NETFLIX INTERNATIONAL Amsterdam NL,-8.99,NaN

In [70]:
mastercard_raw_folder =r'C:\Users\User\OneDrive\Documenten\financials\remake_buxfer\mastercard_folder\raw_html_files'
pdf_file_path = mastercard_raw_folder + "/" + "mastercard_25_06_2024.pdf"

get_mastercard_df(pdf_file_path)

        date                               description  amount
0 2024-06-25        BUXFER.COM SANTA CLARA US 4,99 USD    4.69
1 2024-06-25   TooGoodT ksfadbtdafxm0 toogoodtogo.b DK    3.99
2 2024-06-25   TooGoodT 3rrppz5cprqd0 toogoodtogo.b DK    5.99
3 2024-06-25                  MEDIAFIN NV BRUXELLES BE   19.75
4 2024-06-25          OVERLEAF S  TRIAL STUD LONDON GB    9.68
5 2024-06-25               NETFLIX.COM 866-579-7172 NL    9.99

## combine the two together

In [18]:
open_deposit_df('deposit_01_2024.csv')

In [ ]:
# Regex pattern to extract date, description, and amount
pattern = r'(\d{2}/\d{2}) (\d{2}/\d{2}) (.+?) (\d+,\d+) EUR'

# Extracting data using regex
extracted_data = [re.match(pattern, entry).groups() for entry in selected_expressions]

# Creating DataFrame
df = pd.DataFrame(extracted_data, columns=['Date Start', 'Date End', 'Description', 'Amount'])

# Print the DataFrame
print(df)

In [ ]:
pd.DataFrame(extr)