# CSV to excel

In [4]:
import numpy as np
import pandas as pd
import os


def convert_to_excel(filename): 
    filepath = r'C:\Users\User\OneDrive\Documenten\financials\monthly expenses'
    filename = filename + '.csv'
    df = pd.read_csv(filepath + '/' + filename)
    df.loc[:, 'abs'] = df.loc[:, 'Amount'].abs()
    df =df.sort_values('abs')
    df = df.drop('abs', axis = 1)
    df = df.drop('IOU', axis = 1)
    df = df.drop('Memo', axis =1)
    df.to_excel(filepath + '/' + filename[:-3] + 'xlsx', index = False)
    tot = df.loc[:, 'Amount'].sum()
    display(str(tot))

In [5]:
filename = input('What is the filename?')
convert_to_excel(filename)

What is the filename? parental refund August 2023

'-65.03'

In [6]:
pd.read_excel(filename + '.xlsx')

,ID,Date,Description,Currency,Amount,Type,Tags,Account,Status
0,194633633,2023-09-11,lidl boodschappen,EUR,-5.57,Expense,Parental refund,current account,Cleared
1,194633631,2023-09-11,terugstorting boodschappen lidl,EUR,5.57,Refund,Parental refund,current account,Cleared
2,195807947,2023-09-25,terugbetaling campuskaart,EUR,9.70,Refund,Parental refund,current account,Cleared
3,195237148,2023-09-25,Aankoop campuskaart,EUR,-9.70,Expense,Parental refund,current account,Cleared
4,195132455,2023-09-22,aankoop printbord en voltage regulator,EUR,-12.35,Expense,Parental refund,current account,Cleared
5,196068964,2023-09-19,Terugbetaling peter tkint van mama,EUR,12.45,Refund,Parental refund,current account,Cleared
6,195009401,2023-09-19,aankoop slagerij 't kint,EUR,-12.45,Expense,Parental refund,current account,Cleared
7,196068963,2023-09-19,lidl boodschappen,EUR,16.91,Refund,Parental refund,current account,Cleared
8,195009400,2023-09-19,lidl boodschappen,EUR,-16.91,Expense,Parental refund,current account,Cleared
9,196068965,2023-09-22,Terugbetaling peter tkint van mama,EUR,18.85,Refund,Parental refund,current account,Cleared
10,195132456,2023-09-22,aankoop slagerij 't kint,EUR,-18.85,Expense,Parental refund,current account,Cleared
11,194633634,2023-09-11,slagerij 'tkint,EUR,-23.65,Expense,Parental refund,current account,Cleared
12,194633632,2023-09-11,terugstorting slagerij 'tkint,EUR,23.65,Refund,Parental refund,current account,Cleared