In [32]:
import pandas as pd
import numpy as np
import os
import random
import seaborn as sns
import importlib
import yaml
import sys
import pygwalker as pyg
import streamlit as st
import pandas as pd
import plotly.graph_objs as go
import pygwalker as pyg
import yaml
from io import StringIO
import plotly.express as px

In [2]:
all_sheets = pd.read_excel('../../edited_overview/finances_2025.xlsx', sheet_name=None)
df = pd.concat(all_sheets.values(), ignore_index=True)
df['month_number']=df['Date'].dt.month

In [4]:
# all_sheets = pd.read_excel('../edited_overview/finances_2025.xlsx', sheet_name=None)
# df = pd.concat(all_sheets.values(), ignore_index=True)
# df['month_number']=df['Date'].dt.month

In [70]:


# ---- SETTINGS YAML FILE ----
CONFIG_FILE = "dashboard_config.yaml"

# Load or create default settings
def load_settings(config_filepath):
    try:
        with open(config_filepath, 'r') as file:
            settings = yaml.safe_load(file)
    except FileNotFoundError:
        # Default settings
        settings = {
            'income_color': '#1f77b4',  # blue
            'spending_color': '#d62728',  # red
            'plot_height': 300
        }
    return settings

def save_settings(settings):
    with open(CONFIG_FILE, 'w') as file:
        yaml.dump(settings, file)


def plot_income_spending(df, settings):
    grouped = df.groupby(months).agg({'income': 'sum', 'spending': 'sum'}).reset_index()
    fig = go.Figure()
    fig.add_trace(go.Bar(
        x=grouped['month'], y=grouped['income'],
        name='Income', marker_color=settings['income_color']
    ))

    fig.update_layout(
        barmode='relative',
        title='Income and Spending by Month',
        height=settings['plot_height'],
        yaxis_title='Amount',
        xaxis_title='Month'
    )
    return fig

def get_main_category(x):
    if isinstance(x, str):
        return x.split('/')[0]
    else:
        return 'unknown'  # or np.nan if you prefer

# settings=load_settings('./dashboard_config.yaml')
# plot_income_spending(df, settings)

     month    amount
0  2025-01   1079.16
1  2025-02  -3723.25
2  2025-03     50.32
3  2025-04    -94.00
4  2025-05   3926.53
5  2025-06   -813.28
6  2025-07  -2854.01
7  2025-08    852.06
8  2025-09  13831.31

In [110]:
settings = load_settings('./dashboard_config.yaml')

df['main_tag'] = df['tag'].apply(get_main_category)
df['month'] = df['Date'].dt.to_period('M')
monthly_category_df = df.groupby(['month', 'main_tag'])['amount'].sum().reset_index()

monthly_category_df['is_income_category'] = monthly_category_df['main_tag'].isin(settings['income_categories'])

montly_balance_df=monthly_category_df.groupby(['month', 'is_income_category'], as_index = False)['amount'].sum()
net_balance_df = montly_balance_df.groupby('month', as_index=False)['amount'].sum()

# barplot_df = df.groupby('month').agg({'income': 'sum', 'spending': 'sum'}).reset_index()
# barplot_df

def plot_income_spending(monthly_balance_df, net_balance_df, settings):
    # Copy and ensure 'month' is a string
    df = monthly_balance_df.copy()
    df['month'] = df['month'].astype(str)

    #calculate net balance:
    # Separate income and spending
    income_df = df[df['is_income_category'] == 1]
    spending_df = df[df['is_income_category'] == 0]
    
    # Create figure
    fig = go.Figure()

    # Add income trace
    fig.add_trace(go.Bar(
        x=income_df['month'],
        y=income_df['amount'],
        name='income',
        marker = dict(color=settings['income_color'])
    ))

    # Add spending trace
    fig.add_trace(go.Bar(
        x=spending_df['month'],
        y=spending_df['amount'],
        name='spending',
        marker=dict(color=settings['spending_color']),
    ))

    # fig.add_trace(go.Bar(
    #     x=spending_df['month'],
    #     y=spending_df['amount'],
    #     name='spending',
    #     marker=dict(color=settings['spending_color']),
    # ))
    fig.update_layout(
        barmode = 'stack',
        
    )

    if settings['show_net_balance']:
        fig.add_trace(go.Scatter(
            x=net_balance_df['month'].astype(str),
            y=net_balance_df['net_balance'],
            line=dict(settings['net_balance_color']),
        ))

    # # Layout customization
    # fig.update_layout(
    #     template='plotly_white',
    #     title='Income and Spending by Month',
    #     xaxis_title='Month',
    #     yaxis_title='Amount',
    #     title_x=0.5,
    #     barmode='group',   # can change to 'stack' if you prefer
    #     bargap=0.2,
    #     hovermode='x unified',
    #     legend=dict(title='Category', orientation='h', yanchor='bottom', y=1.02, xanchor='right', x=1)
    # )

    return fig
settings = load_settings('./dashboard_config.yaml')['plots']['spending_income_plot']
plot_income_spending(montly_balance_df,net_balance_df, settings)

KeyError: 'show_net_balance'

In [109]:
net_balance_df

     month    amount
0  2025-01   1079.16
1  2025-02  -3723.25
2  2025-03     50.32
3  2025-04    -94.00
4  2025-05   3926.53
5  2025-06   -813.28
6  2025-07  -2854.01
7  2025-08    852.06
8  2025-09  13831.31

In [95]:
settings = load_settings('./dashboard_config.yaml')['plots']['spending_income_plot']
settings

{'income_color': '#1f77b4',
 'spending_color': '#d62728',
 'plot_height': 300,
 'net_balance_color': '#636363'}

In [86]:
os.listdir('./')

['.ipynb_checkpoints',
 'dashboard_config.yaml',
 'data_analysis.ipynb',
 'finance_dashboard.py',
 '__pycache__']

In [15]:
monthly_summary

       month    main_category   amount   income  spending
0    2025-01    entertainment   -60.49     0.00    -60.49
1    2025-01             food  -229.88     0.00   -229.88
2    2025-01           income  2939.71  2939.71      0.00
3    2025-01            other  -126.57     0.00   -126.57
4    2025-01  parental_refund   -44.35     0.00    -44.35
..       ...              ...      ...      ...       ...
105  2025-09            other   -53.18     0.00    -53.18
106  2025-09  parental_refund   -73.39     0.00    -73.39
107  2025-09   pending_refund    94.85     0.00     94.85
108  2025-09   transportation  -231.98     0.00   -231.98
109  2025-09            trips -1584.67     0.00  -1584.67

[110 rows x 5 columns]

In [7]:
grouped = df.groupby('month_num').agg({'income': 'sum', 'spending': 'sum'}).reset_index()
fig = go.Figure()
fig.add_trace(go.Bar(
    x=grouped['month'], y=grouped['income'],
    name='Income', marker_color=settings['income_color']
))
fig.add_trace(go.Bar(
    x=grouped['month'], y=-grouped['spending'],  # Negative for spending
    name='Spending', marker_color=settings['spending_color']
))
fig.update_layout(
    barmode='relative',
    title='Income and Spending by Month',
    height=settings['plot_height'],
    yaxis_title='Amount',
    xaxis_title='Month'
)

KeyError: 'month_num'